<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Username:</label>
        <input id="username" formControlName="username" />
        <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
          <span>Username is required</span>
        </div>
        
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          <span>Password is required</span>
        </div>
      </div>
  
      <button type="submit">Login</button>
    </form>
  </div>
  